@import "main.css";

.add-comment-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    border: 2px var(--midnight-green-eagle-green) solid;
    border-radius: 2%;
}

.add-comment-form button {
    background-color: cadetblue;
    color: white;
    font-size: large;
    height: 35px;
    border-width: 0;
}

.add-comment-form button:hover {
    background-color: #78c4c7;
    transition-duration: 0.5s;
}

.comment-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment {
    border: var(--display-border);
    border-radius: 10px;
    align-self: center;
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
}

.comment-author-info {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.comment-username {
    font-weight: bolder;
    font-size: x-large;
    padding-bottom: 5px;
}

.comment-date {
    color: #454a4d;
}

.comment-text {
    font-size: large;
}

.delete-icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../media/trash.png");
    height: 35px;
    width: 35px;
    margin-left: auto;
}

.comment-interactions {
    display: flex;
    margin-left: auto;
}

.comment-icon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.previous-page {
    background-image: url("../media/left-arrow-comments.png");
}

.next-page {
    background-image: url("../media/right-arrow-comments.png");
}