@import "main.css";

#image-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--display-border);
    margin: 10px 0;
    /*padding: 0 10px;*/
    /*min-width: 40%;*/
    /*max-width: 50%;*/
    width: 60%;
    background-color: var(--columbia-blue-2);
    border-radius: 2%;
}

.image-info {
    text-align: center;
    border-bottom: var(--display-border);
    width: 100%;
}

.image-info h2 {
    font-size: xx-large;
}
.image-info h3 {
    font-size: x-large;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: var(--display-border);
    width: 100%;
}

.image-file {
    display: flex;
    width: 100%;
    border-bottom: var(--display-border);
    max-height: 500px;
    min-height: 100px;
    height: 500px;
}

img {
    margin: 10px auto;
    height: auto;
    width: auto;
    max-width: 100%;
    /*border: var(--display-border);*/
    /*border-radius: 10px;*/

}

.image-interactions {
    display: flex;
    padding: 10px 0;
}

.interaction-btn {
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}

.previous-image {
    background-image: url("../media/left-arrow.png");
    margin: auto;
}

.next-image {
    background-image: url("../media/right-arrow.png");
    margin: auto;
}

.trash-icon {
    background-image: url("../media/trash.png");
    margin: auto;
}

@media screen and (max-width: 660px) {
    #image-display {
        width: 80%;
    }
}